@mixin textareaDefault() {
  width:100%;
  display:block;
  resize: none;
  overflow: auto;
  border:none;
  height:32px;
}

@mixin colorPalleteLi(){
  button{
    i{

    }
  }
  div.tooltip{
    display:none;
  }
  &:hover{
    button{
      position: relative;

      i{

      }
    }
    div.tooltip{
      position:absolute;
      transform: translate(-25%,-100%);
      display:inline-block;
      z-index:15;
      // display: inline-block;
      // position:absolute;
      background:#f6f6f6;
      width:170px;
      // height:10vh;
      box-shadow:0px 0px 4px #c9d0d5;
      border-radius: 4px;
      span{
        float:left;
        display:block;
        border-radius: 45px;
        box-sizing: border-box;
        width:24px;
        height:24px;
        margin:4px;
        &:hover{
          border: 2px solid #000000;
        }
      }
    }
  }
}

div.contentBox{
  width:80%;
  margin-left: auto;
  // margin-right: auto;
  @include media(m){
    margin-left: 0;
    margin-right: 0;
  }
  div.archiveCardComponentBox{
    width:98%;
    margin-left: auto;
    margin-right:auto;
    margin-top:100px;
    position:relative;
    ul.inArchiveCardComponentBox{
      width:100%;
      // display:flex;
      // flex-wrap: wrap;
      // justify-content: space-between;
      // align-items:center;
      // align-content: flex-start;
      &:after{
        @include clear()
      }
      li.archiveCardLi{
        width:100%;
        float:left;
        @include media(s){
          width:49%;
          margin-right:1%;
        }
        @include media(m){
          width:32%;
          margin-right:1%;
        }
        @include media(l){
          width:24%;
          margin-right:1%;
        }
        @import './parts/archiveCardComponent';
      }
    }
  }
}
div.mask{
  background: rgba(201, 201, 201, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index:50;
}

.operationBox-enter-active, .operationBox-leave-active{
	transition:opacity 0.3s;
}
.operationBox-enter, .operationBox-leave-to{
	opacity:0;
}
.operationBox-enter-to, .operationBox-leave{
	opacity:1;
}


.memoCard-enter-active, .memoCard-leave-active,.memoCard-move{
	transition:all 0.4s;
  position:relative;
}

.memoCard-enter, .memoCard-leave-to{
  opacity: 0;
}
.memoCard-leave-active {
  position: absolute;
}
