@mixin textareaDefault() {
  width:100%;
  display:block;
  resize: none;
  overflow: auto;
  border:none;
  height:32px;
}

@mixin colorPalleteLi(){
  button{
    i{

    }
  }
  div.tooltip{
    display:none;
  }
  &:hover{
    button{
      position: relative;

      i{

      }
    }
    div.tooltip{
      position:absolute;
      transform: translate(-25%,-100%);
      display:inline-block;
      z-index:15;
      // display: inline-block;
      // position:absolute;
      background:#f6f6f6;
      width:170px;
      // height:10vh;
      box-shadow:0px 0px 4px #c9d0d5;
      border-radius: 4px;
      span{
        float:left;
        display:block;
        border-radius: 45px;
        box-sizing: border-box;
        width:24px;
        height:24px;
        margin:4px;
        &:hover{
          border: 2px solid #000000;
        }
      }
    }
  }
}

div.contentBox{
  width:80%;
  margin-left: auto;
  // margin-right: auto;
  @include media(m){
    margin-left: 0;
    margin-right: 0;
  }
  div.archiveCardComponentBox{
    width:98%;
    margin-left: auto;
    margin-right:auto;
    ul.inArchiveCardComponentBox{
      width:100%;
      display:flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items:center;
      align-content: flex-start;
      &:after{
        @include clear()
      }
      li.archiveCardLi{
        width:100%;
        @include media(s){
          width:49%;
        }
        @include media(m){
          width:32%;
        }
        @include media(l){
          width:24%;
        }
        @include media(xl){
          width:19%;
        }
        div.archiveCardWrap{
          position:relative;
          background: none;
          box-sizing: border-box;
          border:1px solid #91989e;
          border-radius: 8px;
          margin-bottom:12px;
          background: #fff;
          &:hover{
            animation-name:delAnime;
            animation-duration: 3s;
            border:1px solid rgba(145, 152, 158, 0);
            box-shadow:0px 0px 10px #91989e;
          }
          div.archiveCardBox{
            div.inArchiveCardBox{
              height:30vh;
              overflow: scroll;
              form.archiveCardFormBox{
                width:90%;
                margin-left: auto;
                margin-right: auto;
                div.inArchiveCardFormBox{
                  div.textareaTitleBox{
                    div.inTextareaTitleBox{
                      textarea{
                        font-size:1.1rem;
                        font-weight: bold;
                        background: none;
                        @include textareaDefault()
                      }
                    }
                  }
                  div.textareaMemoBox{
                    div.inTextareaMemoBox{
                      textarea{
                        background: none;
                        @include textareaDefault()
                      }
                    }
                  }
                }
              }
            }
          }
          div.operationBox{
            min-height:36px;
            div.inOperationBox{
              ul{
                display:flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items:center;
                li{
                  button{
                    @include buttonReset;
                    padding:4px 8px;
                    border-radius: 45px;
                    &:hover{
                      background:#dedede;
                    }
                    i{
                      color:#787878;
                      font-size:0.9rem;
                    }
                  }
                  &.colorPalleteLi{
                    @include colorPalleteLi();
                  }
                }
              }
            }
          }
          div.modalBox{
            position:fixed;
            left:50%;
            top:0%;
            transform: translate(-50%,0%);
            background:#fff;
            // box-sizing: border-box;
            border-radius: 8px;
            box-shadow:0px 0px 10px #91989e;
            z-index:55;
            width:700px;
            max-width:100%;
            @include media(s){
              top:14%;
              // max-height:76vh;
            }
            div.inModalBox{
              form.modalFormBox{
                div.inModalFormBox{
                  div.modalTitleBox{
                    position:relative;
                    width:100%;
                    // padding-left:20px;
                    // transform: translate(-50%,0%);
                    border-radius: 8px 8px 0 0;
                    padding-top:10px;
                    padding-bottom:10px;
                    z-index:40;
                    overflow: scroll;
                    box-sizing: border-box;
                    // @include media(s){
                      height:auto;
                      max-height:16vh;
                    // }
                    &.scroll{
                      box-shadow:0px 1px 4px #91989e;
                    }
                    div.inModalTitleBox{
                      textarea{
                        box-sizing: border-box;
                        padding-left:20px;
                        font-size: 1.5rem;
                        font-weight: bold;
                        background: none;
                        @include textareaDefault();
                      }
                    }
                  }
                  div.modalMemoBox{
                    position: relative;
                    width:94%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom:40px;
                    // height:50vh;
                    overflow: scroll;
                    z-index:35;
                    // @include media(s){
                      height:auto;
                      max-height:52vh;
                    // }
                    div.inModalMemoBox{
                      textarea{
                        background: none;
                        @include textareaDefault();
                      }
                    }
                  }
                  div.modalOperationBox{
                    box-sizing: border-box;
                    box-shadow:0px -1px 4px #91989e;
                    box-sizing: border-box;
                    width:100%;
                    z-index:40;
                    border-radius: 0px 0px 8px 8px;
                    background: #fff;
                    div.inModalOperationBox{
                      height:100%;
                      ul{
                        height:100%;
                        display:flex;
                        flex-wrap: wrap;
                        align-items:center;
                        align-content: flex-start;
                        li{
                          &.liClose{
                            margin-left:auto;
                            height:100%;
                            button{
                              font-size: 1rem;
                              height:100%;
                            }
                          }
                          button{
                            @include buttonReset;
                            padding:6px 12px;
                            border-radius: 4px;
                            &:hover{
                              background:#dedede;
                            }
                            i{
                              color:#787878;
                            }
                          }
                          &.colorPalleteLi{
                            @include colorPalleteLi();
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
div.mask{
  background: rgba(201, 201, 201, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index:50;
}

.operationBox-enter-active, .operationBox-leave-active{
	transition:opacity 0.3s;
}
.operationBox-enter, .operationBox-leave-to{
	opacity:0;
}
.operationBox-enter-to, .operationBox-leave{
	opacity:1;
}


.memoCard-enter-active, .memoCard-leave-active,.memoCard-move{
	transition:all 0.4s;
  position:relative;
}

.memoCard-enter, .memoCard-leave-to{
  opacity: 0;
}
.memoCard-leave-active {
  position: absolute;
}
