div.createMemoBox{
  div.inCreateMemoBox{
    form.createMemoFormBox{
      @include media(m){
        width:40%;
      }
      width:80%;
      margin-left: auto;
      margin-right: auto;
      margin-top:20px;
      div.inCreateMemoFormBox{
        div.textareaTitleBox{
          div.inTextareaTitleBox{
            textarea{
              width:100%;
              display:block;
              resize: none;
              overflow: auto;
            }
          }
        }
        div.textareaMemoBox{
          div.inTextareaMemoBox{
            textarea{
              width:100%;
              display:block;
              resize: none;
              overflow: auto;
            }
          }
        }
      }
    }
  }
}
