@mixin textareaDefault() {
  width:100%;
  display:block;
  resize: none;
  overflow: auto;
  border:none;
  height:32px;
}

main{
  div.inMain{
    div.createMemoBox{
      margin-top:70px;
      margin-bottom:50px;
      width:600px;
      max-width:80%;
      margin-left: auto;
      margin-right: auto;
      &.making{
      div.inCreateMemoBox{
        form.createMemoFormBox{
          div.inCreateMemoFormBox{
            border:1px solid rgba(145, 152, 158, 0);
            box-shadow:0px 0px 10px #91989e;
            div.textareaTitleBox{
              div.inTextareaTitleBox{
                textarea{
                }
              }
            }
            div.textareaMemoBox{
              div.inTextareaMemoBox{
                textarea{
                }
              }
            }
          }
        }
      }
      }
      div.inCreateMemoBox{
        form.createMemoFormBox{
          margin-bottom:20px;
          div.inCreateMemoFormBox{
            box-shadow:none;
            border:1px solid #91989e;
            border-radius: 10px;
            padding-top: 10px;
            div.textareaTitleBox{
              margin-bottom:8px;
              div.inTextareaTitleBox{
                textarea{
                  @include textareaDefault()
                }
              }
            }
            div.textareaMemoBox{
              margin-bottom:8px;
              div.inTextareaMemoBox{
                textarea{
                  @include textareaDefault()
                }
              }
            }
          }
        }
      }
    }
    div.memoCardComponentBox{
      width:98%;
      margin-left: auto;
      margin-right:auto;
      @include media(m){
        width:80%;
      }
      div.inMemoCardComponentBox{
        width:100%;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items:center;
        align-content: flex-start;
        &:after{
          @include clear()
        }
        div.memoCardWrap{
          // float:left;
          display: block;
          position:relative;

          width:100%;
          box-sizing: border-box;
          border:1px solid #91989e;
          border-radius: 8px;
          margin-bottom:12px;
          &:hover{
            border:1px solid rgba(145, 152, 158, 0);
            box-shadow:0px 0px 10px #91989e;
          }
          @include media(s){
            width:49%;
          }
          @include media(m){
            width:32%;
          }
          div.memoCardBox{
            div.inMemoCardBox{
              width:90%;
              margin-left: auto;
              margin-right: auto;
              form.memoCardFormBox{
                div.inMemoCardFormBox{
                  div.textareaTitleBox{
                    div.inTextareaTitleBox{
                      textarea{
                        font-size:1.1rem;
                        font-weight: bold;
                        @include textareaDefault()
                      }
                    }
                  }
                  div.textareaMemoBox{
                    div.inTextareaMemoBox{
                      textarea{
                        @include textareaDefault()
                      }
                    }
                  }
                }
              }
            }
          }
          div.modalBox{
            position:fixed;
            left:50%;
            top:15%;
            transform: translate(-50%,0%);
            background:#fff;
            border:1px solid rgba(145, 152, 158, 0);
            border-radius: 8px;
            box-shadow:0px 0px 10px #91989e;
            z-index:30;
            width:700px;
            max-width:100%;
            div.inModalBox{
              width:96%;
              margin-left: auto;
              margin-right: auto;
              form.modalFormBox{
                div.inModalFormBox{
                  div.modalTitleBox{
                    div.inModalTitleBox{
                      textarea{
                        //文字改行の際に上方向に伸びなくさせられる。
                        position:relative;
                        font-size: 1.4rem;
                        font-weight: bold;
                        @include textareaDefault()
                      }
                    }
                  }
                  div.modalMemoBox{
                    div.inModalMemoBox{
                      textarea{
                        @include textareaDefault()
                      }
                    }
                  }
                  div.modalOperationBox{
                    min-height:36px;
                    div.inModalOperationBox{
                      ul{
                        display:flex;
                        flex-wrap: wrap;
                        align-items:center;
                        li{
                          button{
                            @include buttonReset;
                            padding:6px 12px;
                            border-radius: 45px;

                            &:hover{
                              background:#dedede;
                            }
                            i{
                              color:#787878;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          div.operationBox{
            min-height:36px;
            div.inOperationBox{
              ul{
                display:flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items:center;
                li{
                  button{
                    @include buttonReset;
                    padding:4px 8px;
                    border-radius: 45px;
                    &:hover{
                      background:#dedede;
                    }
                    i{
                      color:#787878;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
div.mask{
  background: rgba(201, 201, 201, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index:20;
}

.operationBox-enter-active, .operationBox-leave-active{
	transition:opacity 0.3s;
}

.operationBox-enter, .operationBox-leave-to{
	opacity:0;
}

.operationLi-enter-active, .operationLi-leave-active{
	transition:background-color 0.3s;
}

.operationLi-enter, .operationLi-leave-to{
	background-color:red;
}
