@mixin textareaDefault() {
  width:90%;
  margin-left: auto;
  margin-right: auto;
  display:block;
  resize: none;
  overflow: auto;
  border:none;
  height:32px;
}

main{
  div.inMain{
    div.createMemoBox{
      div.inCreateMemoBox{
        form.createMemoFormBox{
          @include media(m){
            width:40%;
          }
          width:80%;
          margin-left: auto;
          margin-right: auto;
          margin-top:20px;
          box-shadow:0px 0px 10px #91989e;
          border-radius: 10px;
          div.inCreateMemoFormBox{
            div.textareaTitleBox{
              div.inTextareaTitleBox{
                textarea{
                  @include textareaDefault()
                }
              }
            }
            div.textareaMemoBox{
              div.inTextareaMemoBox{
                textarea{
                  @include textareaDefault()
                }
              }
            }
          }
        }
      }
    }
    div.memoCardComponentBox{
      div.inMemoCardComponentBox{
        width:100%;
        // display: flex;
        // flex-wrap: wrap;
        // align-content: space-around;
        // justify-content: space-around;
        // align-content: stretch;
        div.memoCardBox{
          width:50%;;
          div.inMemoCardBox{
            form.memoCardFormBox{
              div.inMemoCardFormBox{
                div.textareaTitleBox{
                  div.inTextareaTitleBox{
                    textarea{
                      @include textareaDefault()
                    }
                  }
                }
                div.textareaMemoBox{
                  div.inTextareaMemoBox{
                    textarea{
                      @include textareaDefault()
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
