@mixin textareaDefault() {
  width:90%;
  margin-left: auto;
  margin-right: auto;
  display:block;
  resize: none;
  overflow: auto;
  border:none;
  height:32px;
}

main{
  div.inMain{
    div.createMemoBox{
      @include media(m){
        width:40%;
      }
      width:80%;
      margin-left: auto;
      margin-right: auto;
      div.inCreateMemoBox{
      &.making{
        div.inCreateMemoBox{
          form.createMemoFormBox{
            div.inCreateMemoFormBox{
              border:1px solid rgba(145, 152, 158, 0);
              box-shadow:0px 0px 10px #91989e;
              div.textareaTitleBox{
                div.inTextareaTitleBox{
                  textarea{
                  }
                }
              }
              div.textareaMemoBox{
                div.inTextareaMemoBox{
                  textarea{
                  }
                }
              }
            }
          }
        }
      }
        form.createMemoFormBox{
          margin-top:20px;
          div.inCreateMemoFormBox{
            box-shadow:none;
            border:1px solid #91989e;
            border-radius: 10px;
            padding-top: 10px;
            div.textareaTitleBox{
              margin-bottom:8px;
              div.inTextareaTitleBox{
                textarea{
                  @include textareaDefault()
                }
              }
            }
            div.textareaMemoBox{
              margin-bottom:8px;
              div.inTextareaMemoBox{
                textarea{
                  @include textareaDefault()
                }
              }
            }
          }
        }
      }
    }
    div.memoCardComponentBox{
      width:100%;
      div.inMemoCardComponentBox{
        @include media(m){
          width:90%;
        }
        width:98%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: space-around;
        align-content: stretch;
        div.memoCardBox{
          width:24%;
          margin-right:1%;
          box-sizing: border-box;
          div.inMemoCardBox{
            border:1px solid #91989e;
            form.memoCardFormBox{
              div.inMemoCardFormBox{
                div.textareaTitleBox{
                  div.inTextareaTitleBox{
                    textarea{
                      @include textareaDefault()
                    }
                  }
                }
                div.textareaMemoBox{
                  div.inTextareaMemoBox{
                    textarea{
                      @include textareaDefault()
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
