nav#menuBarBox{
  // background:red;
  height:100vh;
  z-index:35;
  width: 10%;
  // box-shadow: 1px 0px 5px  rgba(0,0,0,0.4);
  box-sizing: border-box;
  div.inMenuBarBox{
    position:fixed;
    width:20%;
    top:60px;
    ul{
      width:100%;
      li{
        width:100%;
        div.inMenuBarLi{
          width:100%;
          a{
            position:relative;
            display: block;
            border-radius:0 45px 45px 0;
            // background:#e3e3e3;
            &.router-link-exact-active{
              background: #fdff99;
              &:hover{
                background: #fdff99;
              }
              i{
                background: #fdff99;
                &:hover{
                  background: #fdff99;
                }
              }
            }
            &:hover{
              // padding-left:20px;
              width:100%;
              background:#e3e3e3;
            }
            &:after{
              @include clear;
            }
            i{
              transform:translateX(14px);
              float:left;
              font-size: 1.5rem;
              text-align:center;
              padding:14px;
              border-radius: 45px;
              &:hover{
                background:#e3e3e3;
              }
            }
            p.menuBarText{
              float:left;
            }
          }
        }
      }
    }
  }
}
